<footer class="footer">
  <div class="grid">
    <div class="section1">
<img src="assets/logo.png">
    </div>
    <div class="section2">
<div class="icons">

</div>
    <div class="copyrigt">
      <p class="cpyrgt">© 2019 Wildherbs. All rights reserved | Design by Wildherbs</p>
    </div>
</div>
    <div class="section3">
        <p class="cont">Contact us<br> 
         <span class="span"><a>
                hello@wildherbstechnologies.com
         </a> </span>
        </p>


    </div>

  </div>
  </footer>