<div class="navbar">
    <div class="logo">
 
       <a routerLink=" ">
          <img class="wh" src="assets/logo-dark.png">
       </a> 
    
  </div>
  <div class="menus">
     
    <a class="menu cool-link" routerLink="/careers">
      Careers
    </a>
    <a class="menu cool-link" routerLink="about-us">
        About us
      </a>
     
      <span class="navBar__btnQuote  ">
        Request a qoute
      </span>
  </div>

  </div>
  

  <div class="container">
    <div class="grid"> 

      <div class="lft-spc"></div>
      <div class="main">

        <h1 class="hed">A great team to work with</h1>
           
          <p class="sub-hed">
              Beyond technology, we are passionate about the industries we serve..
           </p>
<p class="text-par ">Our technology products are reverse-engineered to take care of each vital customer touch points & to enhance your customer experience every day. Our way of working with clients mixes the efficiency of a powerful technology provider with the reassurance of industry focussed innovation that drives exceptional business for our clients.</p>

<div class="svg">
  <div class="item1">
    <img class="svg-model"  src="assets/SVG/Aboutus/brands.svg">
 <h3 class="names">Brands</h3>
  </div>
  <div class="item2">
      <img class="svg-model" src="assets/SVG/Aboutus/shopping-mall.svg">
      <h3 class="names">Shopping<br> mall</h3>
    </div>
  <div class="item3">
      <img class="svg-model" src="assets/SVG/Aboutus/e-commerce-store.svg">
      <h3 class="names">e-commerce<br> store</h3>
  </div>
  <div class="item4">
      <img class="svg-model"   src="assets/SVG/Aboutus/public-space.svg">
      <h3 class="names">public space</h3>
  </div>
  <div class="item5">
      <img class="svg-model" src="assets/SVG/Aboutus/hospitality.svg">
      <h3 class="names">hospitality</h3>
  </div>
  <div class="item6">
      <img class="svg-model" src="assets/SVG/Aboutus/commercial-real-estate.svg">
      <h3 class="names">commercial<br> real estate</h3>
  </div>
</div>
<div class="abt-wh">
  <p class="sub-hed2">
    About Wildherbs Technologies
  </p>
  <p class="text-par ">
      WildHerbs Technologies is a start-up focused on embracing innovation and creativity. Through our development centre in Cochin, India, we serve clients across Qatar, Singapore and India. Our team of professionals passionate about technology work with a mission to deliver solutions that surpass our client expectations every single day. 
<br>
      Whether it is a simple web development, a multi platform mobile application, highly intelligent chatbot or a full fledged AI/ML project, we are your perfect partner who goes an extra mile to ensure that the project fulfils your business objectives in the best possible manner.
  </p>

</div>
         
      </div>
      <div class="lft-spc"></div>
    
    </div>
  </div>


  <app-footer></app-footer>