/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: NexaLight;
    src: url('/assets/fonts/nexa/NexaLight2.otf');
}
@font-face {
    font-family: NexaXBold;
    src: url('/assets/fonts/nexa/NexaXBold.otf');
}

body{
    margin: 0;
}
