<div class="container" id="swup">
<div class="navbar">
  <div class="logo" >
    <img class="wh" src="assets/logo.png" routerLink="/">
</div>
<div class="menus">
   
  <a class="menu cool-link" routerLink="careers">
    Careers
  </a>
  <a class="menu cool-link" routerLink="about-us">
      About us
    </a>
   
    <span class="navBar__btnQuote  ">
      Request a qoute
    </span>
</div>
</div>

<div class="main-page">
     
  <div class="grid">
    <div class="content">
   <div class="hed">
      <h1>We<br>
        <!-- <span class="txt-type" data-wait="3000" data-words='["LISTEN", " DESIGN", "BUILD"]'></span> -->
        <span class="txt-type" data-wait="3000" data-words='["Listen", " Design", "Build"]'></span>
      
       <h2 class="fix-txt">
         your most ambitious tech ideas.
         <!-- <span class="txt-type" data-wait="3000" data-words='["Your most ambitious tech ideas."]'></span> -->
      
        </h2>
      </h1>
    </div>
    </div>

    <div class="animation">
        <img  class="robot"  src="assets/robot-gif-03.gif">
      <div>
     
    </div>
    </div>
  </div>
 
</div>
<!-- SWUP -->
<div class="transition-wipe overlay"></div>
</div>

 <script>
    
 
 const swup = new Swup();  
 </script>